ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #990033;
}

.active {
    background-color: #990033;
}
    
	h1{
	color:#f2f2f2;
    text-align:center;
}
	body{
    background-color:#bb99ff;
    font-family: courier new;
    text-align:center;
	font-size: 30px;
}
	h2{
    color:#f2f2f2;
    text-align:center;
}
	h3{
    color:#f2f2f2;
    text-align:center;
}   
 
	p.one{
		border-style:dotted;
		border-width:2px;
	}

